.Content {
    margin-top: 10px;
    background-image: url(../../Assets/img/fundo.jpg);
    background-size: 465px;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

